## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [356]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [357]:
df_2000 = pd.read_csv('gasolina_2000+.csv')
df_2010 = pd.read_csv('gasolina_2010+.csv')

C:\Users\Tales\AppData\Local\Temp\ipykernel_11692\2299748977.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv('gasolina_2010+.csv')

In [358]:
df = pd.concat([df_2000,df_2010])

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [359]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [360]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 78184
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

In [361]:
df.index.name='index_name'

In [362]:
df.reset_index(inplace=True)

In [363]:
df.drop('index_name',axis=1, inplace=True)

In [364]:
df.index.name='index_name'

In [365]:
df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
index_name,,,,,,,,,,,,,,,,,,
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [366]:
type(df['DATA INICIAL'][2])

str

In [367]:
df['NÚMERO DE POSTOS PESQUISADOS'].dtype

dtype('int64')

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [368]:
df['DATA INICIAL']= pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 16.6+ MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [370]:
df['ANO-MÊS'] = df['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + df['DATA FINAL'].apply(lambda x: '-{:02d}'.format(x.month))

In [371]:
df['ANO-MÊS']

index_name
0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MÊS, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [372]:
df['PRODUTO'].unique()

array(['ETANOL HIDRATADO', 'GASOLINA COMUM', 'GLP', 'GNV', 'ÓLEO DIESEL',
       'ÓLEO DIESEL S10', 'OLEO DIESEL', 'OLEO DIESEL S10',
       'GASOLINA ADITIVADA'], dtype=object)

In [373]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [374]:
df_gasolina_comum = df.loc[df['PRODUTO']=='GASOLINA COMUM']

In [375]:
df_gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
index_name,,,,,,,,,,,,,,,,,,,
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [376]:
df_gasolina_comum['PRODUTO'].unique()

array(['GASOLINA COMUM'], dtype=object)

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [377]:
df_gasolina_comum_agosto = df_gasolina_comum.loc[df_gasolina_comum['ANO-MÊS']=='2008-08']

In [378]:
df_gasolina_comum_agosto['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [379]:
df_gasolina_sp = df_gasolina_comum.loc[df_gasolina_comum['ESTADO']=='SAO PAULO']

In [380]:
df_gasolina_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
index_name,,,,,,,,,,,,,,,,,,,
9279,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,GASOLINA COMUM,4107,R$/l,1.891,0.101,1.570,2.399,0.235,0.053,1.656,0.064,1.38,1.944,0.039,2004-05
9306,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,GASOLINA COMUM,4133,R$/l,1.888,0.101,1.540,2.220,0.233,0.053,1.655,0.063,1.38,1.9319,0.038,2004-05
9333,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,GASOLINA COMUM,4139,R$/l,1.894,0.095,1.570,2.399,0.234,0.050,1.66,0.065,1.39,1.9291,0.039,2004-05
9360,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,GASOLINA COMUM,4139,R$/l,1.912,0.094,1.529,2.199,0.235,0.049,1.677,0.068,1.39,1.9733,0.041,2004-06
9387,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,GASOLINA COMUM,4138,R$/l,1.919,0.088,1.580,2.399,0.231,0.046,1.688,0.063,1.41,2.0946,0.037,2004-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120009,2021-03-28,2021-04-03,SUDESTE,SAO PAULO,GASOLINA COMUM,1060,R$/l,5.237,0.218,4.279,5.999,-99999.0,0.042,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04
120187,2021-04-04,2021-04-10,SUDESTE,SAO PAULO,GASOLINA COMUM,1062,R$/l,5.223,0.213,4.279,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04
120366,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04
120544,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [381]:
df_gasolina_sp = df_gasolina_sp.loc[df_gasolina_sp['ANO-MÊS']=='2014-05']

In [382]:
df_gasolina_sp['PREÇO MÉDIO REVENDA'].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [383]:
df_precos_acima_cinco = df_gasolina_comum.loc[df_gasolina_comum['PREÇO MÉDIO REVENDA']>5]

In [384]:
df_precos_acima_cinco.groupby('ESTADO').agg({'ANO-MÊS':'min'})

                     ANO-MÊS
ESTADO
ACRE                 2018-05
ALAGOAS              2021-02
AMAZONAS             2021-02
BAHIA                2021-02
CEARA                2021-02
DISTRITO FEDERAL     2021-02
ESPIRITO SANTO       2021-02
GOIAS                2021-02
MARANHAO             2021-02
MATO GROSSO          2021-03
MATO GROSSO DO SUL   2021-02
MINAS GERAIS         2021-02
PARA                 2021-02
PARAIBA              2021-02
PARANA               2021-03
PERNAMBUCO           2021-02
PIAUI                2021-02
RIO DE JANEIRO       2018-06
RIO GRANDE DO NORTE  2021-01
RIO GRANDE DO SUL    2021-02
RONDONIA             2021-02
RORAIMA              2021-03
SANTA CATARINA       2021-02
SAO PAULO            2021-03
SERGIPE              2021-02
TOCANTINS            2018-09

### 11. Qual a média de preço dos estados da região sul em 2012?

In [385]:
df_gasolina_comum['ANO'] = df['DATA FINAL'].apply(lambda x: x.year)
df_gasolina_comum['DIA'] = df['DATA FINAL'].apply(lambda x: x.day)

C:\Users\Tales\AppData\Local\Temp\ipykernel_11692\648220982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina_comum['ANO'] = df['DATA FINAL'].apply(lambda x: x.year)
C:\Users\Tales\AppData\Local\Temp\ipykernel_11692\648220982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina_comum['DIA'] = df['DATA FINAL'].apply(lambda x: x.day)

In [386]:
df_gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS,ANO,DIA
index_name,,,,,,,,,,,,,,,,,,,,,
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,...,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05,2004,15
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,...,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05,2004,15
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,...,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05,2004,15
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,...,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05,2004,15
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,...,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05,2004,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,...,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,...,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,...,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,...,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1

In [387]:
df['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

In [388]:
df_gasolina_sul = df_gasolina_comum.loc[df_gasolina_comum['REGIÃO']=='SUL']

In [389]:
df_gasolina_sul = df_gasolina_sul.loc[df_gasolina_sul['ANO']==2012]

In [390]:
df_gasolina_sul.groupby(['ESTADO']).agg({'PREÇO MÉDIO REVENDA':'mean'})

                   PREÇO MÉDIO REVENDA
ESTADO
PARANA                        2.684731
RIO GRANDE DO SUL             2.759308
SANTA CATARINA                2.720288

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [391]:
df_gasolina_comum['MÊS'] = df_gasolina_comum['DATA FINAL'].apply(lambda x: x.month)

C:\Users\Tales\AppData\Local\Temp\ipykernel_11692\1514148342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina_comum['MÊS'] = df_gasolina_comum['DATA FINAL'].apply(lambda x: x.month)

In [392]:
df_rio = df_gasolina_comum[df_gasolina_comum['ESTADO']=='RIO DE JANEIRO']

In [393]:
df_month_rio = df_rio.groupby('ANO-MÊS')[['PREÇO MÉDIO REVENDA', 'MÊS']].last()

In [394]:
df_month_rio

         PREÇO MÉDIO REVENDA  MÊS
ANO-MÊS
2004-05                2.042    5
2004-06                2.152    6
2004-07                2.157    7
2004-08                2.178    8
2004-09                2.181    9
...                      ...  ...
2021-01                5.091    1
2021-02                5.558    2
2021-03                6.131    3
2021-04                6.071    4
2021-05                6.099    5

[204 rows x 2 columns]

In [395]:
((df_month_rio[df_month_rio['MÊS']==12] / df_month_rio[df_month_rio['MÊS']==12].shift(1))-1)*100

         PREÇO MÉDIO REVENDA  MÊS
ANO-MÊS
2004-12                  NaN  NaN
2005-12             9.233449  0.0
2006-12             0.917065  0.0
2007-12             0.355591  0.0
2008-12             0.984252  0.0
2009-12             1.637427  0.0
2010-12             2.032988  0.0
2011-12             7.105263  0.0
2012-12             0.982801  0.0
2013-12             6.777894  0.0
2014-12             4.361979  0.0
2015-12            20.461634  0.0
2016-12             3.625065  0.0
2017-12            13.643178  0.0
2018-12             5.804749  0.0
2019-12             3.802993  0.0
2020-12            -1.321321  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal (mensal) com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [396]:
df_gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS,ANO,DIA,MÊS
index_name,,,,,,,,,,,,,,,,,,,,,
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,...,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05,2004,15,5
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,...,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05,2004,15,5
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,...,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05,2004,15,5
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,...,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05,2004,15,5
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,...,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05,2004,15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,...,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1,5
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,...,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1,5
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,...,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1,5
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,...,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1,5
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,...,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,2021,1,5

In [397]:
df_diff = pd.DataFrame()

In [398]:
df_max = df_gasolina_comum.groupby('ANO-MÊS').max()['PREÇO MÉDIO REVENDA']

df_min = df_gasolina_comum.groupby('ANO-MÊS').min()['PREÇO MÉDIO REVENDA']

In [399]:
idxmax = df_gasolina_comum.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmax()
idxmin = df_gasolina_comum.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmin()

In [400]:
df_diff['Dif_Absoluta'] = df_max - df_min
df_diff['Dif_Perc'] = (df_max -df_min) / df_min * 100
df_diff['Máx'] = df_max
df_diff['Mín'] = df_min

In [401]:
df_diff

         Dif_Absoluta   Dif_Perc    Máx    Mín
ANO-MÊS
2004-05         0.550  29.131356  2.438  1.888
2004-06         0.584  30.543933  2.496  1.912
2004-07         0.609  31.456612  2.545  1.936
2004-08         0.530  26.108374  2.560  2.030
2004-09         0.539  26.538651  2.570  2.031
...               ...        ...    ...    ...
2021-01         1.383  36.109661  5.213  3.830
2021-02         1.688  40.960932  5.809  4.121
2021-03         2.109  46.058091  6.688  4.579
2021-04         1.450  30.353779  6.227  4.777
2021-05         1.391  28.580234  6.258  4.867

[204 rows x 4 columns]

In [402]:
df_diff['Estado Máx'] = df_gasolina_comum.loc[idxmax, :]['ESTADO'].values

In [403]:
df_diff['Estado Mín'] = df_gasolina_comum.loc[idxmin, :]['ESTADO'].values

In [404]:
df_diff

         Dif_Absoluta   Dif_Perc    Máx    Mín   Estado Máx        Estado Mín
ANO-MÊS
2004-05         0.550  29.131356  2.438  1.888         ACRE         SAO PAULO
2004-06         0.584  30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07         0.609  31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08         0.530  26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09         0.539  26.538651  2.570  2.031         ACRE         SAO PAULO
...               ...        ...    ...    ...          ...               ...
2021-01         1.383  36.109661  5.213  3.830         ACRE             AMAPA
2021-02         1.688  40.960932  5.809  4.121         ACRE             AMAPA
2021-03         2.109  46.058091  6.688  4.579         ACRE             AMAPA
2021-04         1.450  30.353779  6.227  4.777         ACRE             AMAPA
2021-05         1.391  28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [405]:
# como temos certeza que o dataset tem o mesmo tamanho (ja está "linkado"), pode transformar os valores em "values" e jogar no dataframe.

In [406]:
# sem o "values", ele não vai encontar indexs para encaixe, pois o index do dataframe (idxmax e idxmin) tem como index o proprio index e nao o "ano-mes"